header {
  width: 100%;
  position: relative;
}
header .header-inner {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 70px;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
}
header .header-inner .header-nav nav ul {
  width: 100%;
  display: flex;
}
header .header-inner .header-nav nav ul li {
  min-width: 60px;
  position: relative;
  margin-right: 80px;
}
header .header-inner .header-nav nav ul li:nth-of-type(5) {
  margin-right: 0;
}
header .header-inner .header-nav nav ul li a {
  width: 5vw;
  font-family: "NEXON-Bold";
  font-size: 1vw;
  padding-bottom: 5px;
  text-align: center;
  display: inline-block;
}
header .header-inner .header-nav nav ul li a::after {
  content: "";
  width: 0%;
  margin: 0 auto;
  height: 1px;
  background-color: black;
  display: block;
  transition: 0.5s;
  transform: translateY(10px);
  border-radius: 500px;
}
header .header-inner .header-nav nav ul li a:hover {
  opacity: 0.9;
}
header .header-inner .header-nav nav ul li a:hover::after {
  transform-origin: center;
  content: "";
  width: 50%;
  margin: 0 auto;
  height: 1px;
  background-color: black;
  display: block;
}
header .header-inner .header-nav nav ul li .drop-menu {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
}
header .header-inner .header-nav nav ul li .drop-menu > li {
  width: 100%;
  font-size: 0.8vw;
  margin-right: 0;
  margin-bottom: 0px;
  white-space: nowrap;
  opacity: 0;
}
header .header-inner .header-nav nav ul li .drop-menu > li a {
  font-family: "NEXON-Gothic";
  color: #666;
}
header .header-inner .header-nav nav ul li .drop-menu > li a::after {
  background-color: #666;
  opacity: 0.7;
}
header .header-inner .header-nav nav ul li .drop-menu > li a:hover {
  color: black;
}
header .header-inner .header-icon-nav {
  display: flex;
  align-items: center;
}
header .header-inner .header-icon-nav h1 button {
  margin-bottom: 20px;
  color: white;
  background-color: black;
  padding: 8px;
}
header .header-inner .header-icon-nav h1 button:nth-of-type(1) {
  border-radius: 12px 0px 0px 12px;
  transform: translateX(12px);
}
header .header-inner .header-icon-nav h1 button:nth-of-type(2) {
  border-radius: 0px 12px 12px 0px;
}
header .header-inner .header-icon-nav h1 button:hover {
  cursor: pointer;
  opacity: 0.7;
}
header .header-inner .mobile-nav {
  display: none;
}
header .header-inner .mobile-nav g span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: black;
  margin-right: 10px;
  margin-top: 5px;
  transition: 0.5s;
}
header .header-inner .mobile-nav:hover {
  cursor: pointer;
}
header .header-inner .mobile-nav:hover span:nth-of-type(1) {
  transform: rotate(30deg);
}
header .header-inner .mobile-nav:hover span:nth-of-type(2) {
  transform: rotate(-67deg) translateX(10px);
}
header .header-inner .mobile-nav .mobile-navframe {
  position: fixed;
  top: 70px;
  right: 0;
  width: 0%;
  height: 100vh;
  z-index: 9;
  background-color: white;
  transition: 0.3s;
  opacity: 0;
  transform: translateX(75px);
}
header .header-inner .mobile-nav .mobile-navframe ul li {
  line-height: 3.2;
  height: 50px;
  border-top: 1px solid rgba(60, 97, 137, 0.2980392157);
  padding-left: 20px;
}
header .header-inner .mobile-nav .mobile-navframe ul li a {
  font-size: 1vw;
  font-family: "NEXON-Gothic";
  color: #3c6189;
}
header .header-inner .mobile-nav .mobile-navframe ul li:nth-of-type(5) {
  border-bottom: 1px solid rgba(60, 97, 137, 0.2980392157);
}
header .header-inner .mobile-nav.active .mobile-navframe {
  width: 75%;
  opacity: 1;
}
header .dropdown-frame {
  position: absolute;
  top: 6.3021vw;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1280px;
  height: 0px;
  background-color: #f8f8f8;
  z-index: 9;
}
header:hover .dropdown-frame {
  transition: 0.5s;
  height: 480px;
  background-color: #f8f8f8;
}
header:hover .header-inner .header-nav nav ul li .drop-menu {
  top: 60px;
}
header:hover .header-inner .header-nav nav ul li .drop-menu > li {
  transition: 0.5s;
  opacity: 1;
  margin-bottom: 10px;
}

@media (max-width: 1440px) {
  header .header-inner .header-nav {
    display: none;
  }
  header .header-inner .header-icon-nav {
    margin-right: 50px;
  }
  header .header-inner .mobile-nav {
    width: 40px;
    display: block;
    position: absolute;
    right: 0;
  }
  header:hover .dropdown-frame {
    transition: 0.5s;
    height: 0px;
  }
}/*# sourceMappingURL=header.css.map */