.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  width: 800px;
  height: 800px;
  background-color: rgba(0, 0, 0, 0.92);
  border: 1px solid black;
}
.popup.active {
  display: none;
}
.popup .popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #00b09b, #96c93d);
  padding: 0px 20px;
  position: relative;
  height: 50px;
  color: white;
}
.popup .popup-header h4 {
  height: 80%;
  padding: 8px;
  border-radius: 10px 10px 0px 0px;
  font-family: "NEXON-Gothic";
  color: white;
  font-size: 16px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup .popup-header h4::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url(../imgs/favicon/favicon.ico);
  background-size: cover;
  background-repeat: no-repeat;
}
.popup .popup-header .popup-close:hover {
  cursor: pointer;
}
.popup .popup-main {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
}
.popup .popup-main .popup-mainlogo figure {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup .popup-main .popup-mainlogo figure img {
  width: 6.25%;
}
.popup .popup-main .popup-mainlogo figure figcaption {
  margin-left: 10px;
  font-family: "NEXON-Light";
  font-weight: 650;
  font-size: 24px;
  color: white;
}
.popup .popup-main .popup-content {
  margin-top: 50px;
}
.popup .popup-main .popup-content .popup-games {
  display: flex;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 0px 200px 200px 0px;
  transition: 0.5s;
}
.popup .popup-main .popup-content .popup-games:hover {
  width: 100%;
}
.popup .popup-main .popup-content .popup-games:hover ul {
  padding-left: 40%;
}
.popup .popup-main .popup-content .popup-games ul {
  padding-left: 25%;
}
.popup .popup-main .popup-content .popup-games ul li {
  height: 36px;
}
.popup .popup-main .popup-content .popup-games ul li a {
  font-family: "NEXON-Light";
  font-weight: 600;
  font-size: 16px;
}
.popup .popup-main .popup-content .popup-games ul li:hover {
  transition: 0.5s;
  transform: translateX(10px);
  cursor: pointer;
  opacity: 0.7;
}
.popup .popup-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
}
.popup .popup-footer .popupcheck-deco {
  width: 5%;
  height: 20px;
  border-radius: 20px;
  border: 0.5px solid white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  transition: 0.5s;
  position: relative;
  background-color: white;
}
.popup .popup-footer .popupcheck-deco > span {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 20px;
  margin-left: 0;
  transition: 0.5s;
  position: absolute;
  left: -2px;
  border: 1px solid white;
}
.popup .popup-footer .popupcheck-deco.active span {
  left: 50%;
  background-color: #007aff;
}
.popup .popup-footer input {
  margin-right: 5px;
  display: none;
}
.popup .popup-footer label {
  color: white;
  font-family: "NEXON-Light";
  font-weight: 600;
}

main .banner-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 70px;
}
main .banner-wrap .swiper {
  width: 100%;
  height: 100%;
}
main .banner-wrap .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .banner-wrap .swiper .swiper-slide video {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .banner-wrap .swiper .swiper-button-next {
  position: absolute;
  right: 5%;
  color: white;
}
main .banner-wrap .swiper .swiper-button-next::after {
  font-size: 1.0417vw;
  font-weight: bold;
}
main .banner-wrap .swiper .swiper-button-prev {
  position: absolute;
  left: 5%;
  color: white;
}
main .banner-wrap .swiper .swiper-button-prev::after {
  font-size: 1.0417vw;
  font-weight: bold;
}
main .banner-wrap .swiper .swiper-progress {
  width: 90%;
  height: 2px;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(211, 211, 211, 0.308);
}
main .banner-wrap .swiper .swiper-progress .swiper-pagination-progressbar-fill {
  background-color: #fff;
}
main .introduction {
  width: 90%;
  max-width: 66.6667vw;
  margin: 0 auto;
  transition: 1s;
  transform: translateY(100px);
  opacity: 0;
}
main .introduction.active {
  opacity: 1;
  transform: translateY(0);
}
main .introduction .in-title {
  text-align: center;
  margin-top: 4.6875vw;
  margin-bottom: 4.5313vw;
}
main .introduction .in-title h1 {
  font-family: "NEXON-Gothic";
  font-weight: 300;
  font-size: 2.9688vw;
}
main .introduction .in-title h2 {
  font-family: "NEXON-Bold";
  font-size: 3.4896vw;
}
main .introduction .in-title .in-deco {
  width: 1px;
  height: 2.6042vw;
  margin: 2.4479vw auto;
  background-color: black;
  text-align: center;
}
main .introduction .in-flex figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
main .introduction .in-flex figure img {
  width: 60%;
}
main .introduction .in-flex figure figcaption {
  font-family: "NEXON-Gothic";
  font-weight: bold;
  width: 40%;
  font-size: 1.4583vw;
}
main .introduction .in-flex figure figcaption p {
  margin-bottom: 2.8646vw;
}
main .producer {
  position: relative;
  overflow: hidden;
  height: 59.4792vw;
  transition: 1s;
  transform: translateY(100px);
  opacity: 0;
}
main .producer.active {
  opacity: 1;
  transform: translateY(0);
}
main .producer .producerback {
  width: 100%;
  position: absolute;
  z-index: -99;
  top: -8.7708vw;
}
main .producer .producer-title {
  max-width: 66.6667vw;
  margin: 0 auto;
  padding-top: 12.8646vw;
  font-size: 3vw;
  padding-bottom: 2.9688vw;
}
main .producer .transform-controlls {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 14.5833vw;
  right: 20.8333vw;
  z-index: 99;
}
main .producer .transform-controlls p {
  display: flex;
  align-items: center;
  font-size: 1.0417vw;
  font-family: "NEXON-Bold";
}
main .producer .transform-controlls p.transfrom-deco {
  color: #dddddd;
  margin-left: 0.7813vw;
  margin-right: 0.7813vw;
}
main .producer .transform-controlls .trnasform-prev {
  transition: 0.5s;
}
main .producer .transform-controlls .trnasform-prev p span {
  margin-right: 0.6771vw;
}
main .producer .transform-controlls .trnasform-prev:hover {
  cursor: pointer;
  transform: translateX(-10px);
}
main .producer .transform-controlls .trnasform-next {
  transition: 0.5s;
}
main .producer .transform-controlls .trnasform-next p span {
  margin-left: 0.6771vw;
}
main .producer .transform-controlls .trnasform-next:hover {
  cursor: pointer;
  transform: translateX(10px);
}
main .producer .swiper {
  width: 100%;
  max-width: 66.6667vw;
  margin: 0 auto;
  height: 100%;
}
main .producer .swiper .swiper-slide figure {
  display: flex;
  align-items: center;
}
main .producer .swiper .swiper-slide figure img {
  width: 294px;
}
main .producer .swiper .swiper-slide figure figcaption {
  margin-left: 5.2083vw;
}
main .producer .swiper .swiper-slide figure figcaption p.p-title {
  color: #cad401;
  font-size: 0.9375vw;
  margin-bottom: 1.25vw;
  font-family: "NEXON-Bold";
}
main .producer .swiper .swiper-slide figure figcaption p.p-name {
  font-size: 2.3438vw;
  margin-bottom: 2.8021vw;
  font-family: "NEXON-Bold";
}
main .producer .swiper .swiper-slide figure figcaption p.p-name span {
  font-size: 0.8854vw;
  color: #999999;
  padding-left: 0.4688vw;
}
main .producer .swiper .swiper-slide figure figcaption p.promotion {
  font-family: "NEXON-Bold";
  font-size: 1.4583vw;
  margin-bottom: 0.9896vw;
  position: relative;
}
main .producer .swiper .swiper-slide figure figcaption p.promotion::after {
  position: absolute;
  content: "";
  width: 66%;
  height: 50%;
  background: #e8e8e8;
  position: absolute;
  bottom: 0;
  left: 2.5%;
  z-index: -1;
}
main .producer .swiper .swiper-slide figure figcaption p.comment {
  font-size: 0.8333vw;
  padding-left: 0.9375vw;
  line-height: 2;
}
main .producer .news {
  max-width: 66.6667vw;
  margin: 0 auto;
}
main .producer .news .news-title {
  padding-bottom: 4.1667vw;
}
main .producer .news .news-title h1 {
  font-size: 3.3854vw;
}
main .producer .news .news-title .ne-more {
  text-align: right;
  transition: 0.5s;
}
main .producer .news .news-title .ne-more:hover {
  cursor: pointer;
  transform: translateX(10px);
}
main .producer .news .news-title .ne-more mark {
  width: 3.0208vw;
  align-items: center;
  font-size: 1.25vw;
  background: none;
  position: relative;
}
main .producer .news .news-title .ne-more mark::after {
  content: "";
  width: 90%;
  height: 50%;
  position: absolute;
  background-color: #007aff;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: -1;
}
main .producer .news .news-title .ne-more span {
  vertical-align: middle;
}
main .producer .news .news-boxs .boxs-container {
  width: 100%;
  display: flex;
}
main .producer .news .news-boxs .boxs-container .ne-boxs {
  width: 33.3333333333%;
  margin-right: 5.2083vw;
}
main .producer .news .news-boxs .boxs-container .ne-boxs figure img {
  width: 100%;
}
main .producer .news .news-boxs .boxs-container .ne-boxs figure figcaption {
  margin-top: 2.0833vw;
}
main .producer .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name {
  font-family: "NEXON-Gothic";
  font-weight: bold;
  font-size: 0.6771vw;
  margin-bottom: 1.5625vw;
}
main .producer .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name span {
  font-size: 0.7292vw;
  font-weight: normal;
  color: #aeaeae;
  padding-left: 0.3646vw;
}
main .producer .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-text {
  font-weight: bold;
  font-size: 1.05vw;
  color: #191b1d;
  margin-bottom: 1.2229vw;
}
main .producer .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-plus {
  color: #888;
  font-size: 0.7813vw;
}
main .news {
  max-width: 66.6667vw;
  margin: 0 auto;
  transition: 1s;
  transform: translateY(100px);
  opacity: 0;
}
main .news.active {
  opacity: 1;
  transform: translateY(0);
}
main .news .news-title {
  padding-bottom: 4.1667vw;
}
main .news .news-title h1 {
  font-size: 3.3854vw;
}
main .news .news-title .ne-more {
  text-align: right;
  transition: 0.5s;
}
main .news .news-title .ne-more:hover {
  cursor: pointer;
  transform: translateX(10px);
}
main .news .news-title .ne-more mark {
  width: 3.0208vw;
  align-items: center;
  font-size: 1.25vw;
  background: none;
  position: relative;
}
main .news .news-title .ne-more mark::after {
  content: "";
  width: 90%;
  height: 50%;
  position: absolute;
  background-color: #007aff;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: -1;
}
main .news .news-title .ne-more span {
  vertical-align: middle;
}
main .news .news-boxs .boxs-container {
  width: 100%;
  display: flex;
}
main .news .news-boxs .boxs-container .ne-boxs {
  width: 33.3333333333%;
  margin-right: 5.2083vw;
}
main .news .news-boxs .boxs-container .ne-boxs figure img {
  width: 100%;
}
main .news .news-boxs .boxs-container .ne-boxs figure figcaption {
  margin-top: 2.0833vw;
}
main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name {
  font-family: "NEXON-Gothic";
  font-weight: bold;
  font-size: 0.6771vw;
  margin-bottom: 1.5625vw;
}
main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name span {
  font-size: 0.7292vw;
  font-weight: normal;
  color: #aeaeae;
  padding-left: 0.3646vw;
}
main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-text {
  font-weight: bold;
  font-size: 1.05vw;
  color: #191b1d;
  margin-bottom: 1.2229vw;
}
main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-plus {
  color: #888;
  font-size: 0.7813vw;
}
main .careers {
  max-width: 66.6667vw;
  margin: 0 auto;
  margin-top: 10.8333vw;
  transition: 1s;
  transform: translateY(100px);
  opacity: 0;
}
main .careers.active {
  opacity: 1;
  transform: translateY(0);
}
main .careers .ca-title {
  padding-bottom: 6vw;
}
main .careers .ca-title h1 {
  font-family: "NEXON-Bold";
  font-size: 3.3854vw;
}
main .careers .ca-title .ca-more {
  text-align: right;
  transition: 0.5s;
}
main .careers .ca-title .ca-more:hover {
  cursor: pointer;
  transform: translateX(10px);
}
main .careers .ca-title .ca-more mark {
  width: 3.0208vw;
  align-items: center;
  font-size: 1.25vw;
  background: none;
  position: relative;
}
main .careers .ca-title .ca-more mark::after {
  content: "";
  width: 90%;
  height: 50%;
  position: absolute;
  background-color: #007aff;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: -1;
}
main .careers .ca-title .ca-more span {
  vertical-align: middle;
}
main .careers .ca-imgbox {
  width: 100%;
  position: relative;
  margin-bottom: 9.375vw;
}
main .careers .ca-imgbox img {
  width: 100%;
}
main .careers .ca-imgbox .ca-txtbox {
  width: 34.1667vw;
  position: absolute;
  background-color: white;
  bottom: 0;
  padding: 1.5625vw;
}
main .careers .ca-imgbox .ca-txtbox p {
  font-size: 1.7708vw;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  main .producer .transform-controlls {
    bottom: 80px;
  }
  main .producer .transform-controlls p {
    font-size: 1.2164vw;
  }
  main .producer .swiper .swiper-slide figure figcaption p.comment {
    font-size: 1.2164vw;
  }
  main .producer .swiper .swiper-slide figure img {
    width: 196px;
  }
  main .news .news-boxs .boxs-container .ne-boxs {
    margin-right: 1.2083vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name {
    font-size: 1.0164vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name span {
    font-size: 0.86vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-text {
    line-height: 1.5;
    font-size: 1.1728vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-plus {
    font-size: 1.0164vw;
    line-height: 1.5;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  main .producer .transform-controlls {
    bottom: 80px;
  }
  main .producer .transform-controlls p {
    font-size: 1.2164vw;
  }
  main .producer .swiper .swiper-slide figure figcaption p.comment {
    font-size: 1.2164vw;
  }
  main .producer .swiper .swiper-slide figure img {
    width: 19.1406vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs {
    margin-right: 1.2083vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name {
    font-size: 1.0164vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name span {
    font-size: 0.86vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-text {
    line-height: 1.5;
    font-size: 1.1728vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-plus {
    font-size: 1.0164vw;
    line-height: 1.5;
  }
}
@media (max-width: 768px) {
  main .producer .transform-controlls {
    bottom: 9.5833vw;
  }
  main .producer .swiper .swiper-slide figure img {
    width: 15.1406vw;
  }
}/*# sourceMappingURL=index.css.map */