main.nexongames-page .banner {
  margin-top: 70px;
  position: relative;
}
main.nexongames-page .banner > img {
  width: 100%;
}
main.nexongames-page .banner .bn-title {
  position: absolute;
  top: 30px;
  right: 30px;
}
main.nexongames-page .banner .bn-title figure {
  display: flex;
  align-items: center;
}
main.nexongames-page .banner .bn-title figure img {
  margin-right: 10px;
}
main.nexongames-page .banner .bn-title figure figcaption {
  color: white;
}
main.nexongames-page .banner .bn-title figure figcaption a {
  color: white;
}
main.nexongames-page .banner .bn-text {
  position: absolute;
  top: 35%;
  left: 30%;
  transform: -50%, -50%;
  color: white;
}
main.nexongames-page .banner .bn-text h1 {
  font-size: 3.4375vw;
  font-family: "NEXON-Bold";
  padding-bottom: 23px;
  text-align: center;
}
main.nexongames-page .banner .bn-text p {
  font-size: 1.875vw;
  text-align: center;
  line-height: 2;
  font-family: "NEXON-Light";
}
main.nexongames-page .vision {
  max-width: 66.6667vw;
  margin: 0 auto;
  margin-top: 5.1563vw;
}
main.nexongames-page .vision .vs-title > p {
  font-size: 1.4583vw;
  line-height: 1.8;
  text-align: center;
  font-family: "NEXON-Light";
}
main.nexongames-page .vision .vs-title p.vs-deco {
  width: 1px;
  height: 50px;
  background-color: black;
  margin: 0 auto;
  margin-top: 3.6458vw;
}
main.nexongames-page .vision .vs-title p.vs-subtitle {
  margin-top: 1.3021vw;
  font-size: 3.4375vw;
  padding-bottom: 4.4271vw;
  font-family: "NEXON-Bold";
}
main.nexongames-page .vision .vs-content {
  width: 100%;
  background-image: url(../imgs/nexongames/banner/sub_visual_bg_dark.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 11.9792vw 0;
}
main.nexongames-page .vision .vs-content .line-title {
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}
main.nexongames-page .vision .vs-content .line-title .line-text {
  margin-left: 2.2396vw;
  margin-right: 2.2396vw;
  font-size: 2.8646vw;
}
main.nexongames-page .vision .vs-content .line-title .line {
  display: inline-block;
  width: 11.5104vw;
  height: 1px;
  background-color: white;
}
main.nexongames-page .vision .vs-content > p {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
  font-size: 1.4583vw;
  line-height: 1.5;
  margin-top: 1.4583vw;
}
main.nexongames-page .games {
  max-width: 66.6667vw;
  margin: 0 auto;
}
main.nexongames-page .games .gm-title {
  margin-top: 9.1667vw;
}
main.nexongames-page .games .gm-title h1 {
  text-align: center;
  padding-bottom: 0.7813vw;
  font-size: 4.5vw;
  font-family: "NEXON-Bold";
}
main.nexongames-page .games .gm-title p.gm-deco {
  width: 1px;
  height: 50px;
  background-color: black;
  margin: 0 auto;
  margin-top: 3.6458vw;
  margin-bottom: 0.7813vw;
  margin-top: 0.7813vw;
}
main.nexongames-page .games .games-wrap .game-box .gm-box {
  margin-bottom: 5.2083vw;
}
main.nexongames-page .games .games-wrap .game-box .gm-box figure {
  display: flex;
  align-items: center;
}
main.nexongames-page .games .games-wrap .game-box .gm-box figure img {
  width: 13.5417vw;
}
main.nexongames-page .games .games-wrap .game-box .gm-box figure figcaption {
  padding-left: 4vw;
}
main.nexongames-page .games .games-wrap .game-box .gm-box figure figcaption p span.bold {
  display: inline-block;
  margin-top: 10px;
  line-height: 1.4;
  font-family: "NEXON-Bold";
  color: black;
}
main.nexongames-page .games .games-wrap .game-box .gm-box figure figcaption p.g-title {
  padding-bottom: 10px;
}
main.nexongames-page .games .games-wrap .game-box .gm-box figure figcaption p.g-title a {
  font-family: "NEXON-Bold";
  font-size: 4vw;
  padding: 0 0.5vw;
  margin-bottom: 1.5vw;
  position: relative;
}
main.nexongames-page .games .games-wrap .game-box .gm-box figure figcaption p.g-title a::after {
  content: "";
  width: 100%;
  height: 20px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 8px;
  background-color: #e8e8e8;
  z-index: -1;
}
main.nexongames-page .games .games-wrap .game-box .gm-box figure figcaption p.g-crape {
  color: #666666;
  margin-bottom: 1.5vw;
  font-size: 1.5vw;
}
main.nexongames-page .games .games-wrap .game-box .gm-box figure figcaption p.g-connect {
  color: #666666;
  font-size: 1.5vw;
}
main.nexongames-page .games .games-wrap .game-box .gm-right figure {
  justify-content: right;
}
main.nexongames-page .games .games-wrap .game-box .gm-right figure figcaption {
  padding-left: 0;
  padding-right: 4vw;
  text-align: right;
}
main.nexongames-page .games .games-wrap .game-box .gm-box2 {
  text-align: center;
}
main.nexongames-page .games .games-wrap .game-box .gm-box2 figure figcaption p {
  text-align: right;
}
main.nexongames-page .games .games-wrap .game-box .gm-box2 figure figcaption p.g-title {
  background: none;
}
main.nexongames-page .games .games-wrap .game-box .gm-box2 figure figcaption p.g-title a {
  position: relative;
}
main.nexongames-page .games .games-wrap .game-box .gm-box2 figure figcaption p.g-title a::after {
  content: "";
  width: 100%;
  height: 20px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 8px;
  background-color: #e8e8e8;
  z-index: -1;
}

main .banner-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 70px;
}
main .banner-wrap .swiper {
  width: 100%;
  height: 100%;
}
main .banner-wrap .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .banner-wrap .swiper .swiper-slide video {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .banner-wrap .swiper .swiper-button-next {
  position: absolute;
  right: 5%;
  color: white;
}
main .banner-wrap .swiper .swiper-button-next::after {
  font-size: 1.0417vw;
  font-weight: bold;
}
main .banner-wrap .swiper .swiper-button-prev {
  position: absolute;
  left: 5%;
  color: white;
}
main .banner-wrap .swiper .swiper-button-prev::after {
  font-size: 1.0417vw;
  font-weight: bold;
}
main .banner-wrap .swiper .swiper-progress {
  width: 90%;
  height: 2px;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(211, 211, 211, 0.308);
}
main .banner-wrap .swiper .swiper-progress .swiper-pagination-progressbar-fill {
  background-color: #fff;
}
main .introduction {
  width: 90%;
  max-width: 66.6667vw;
  margin: 0 auto;
  transition: 1s;
  transform: translateY(100px);
  opacity: 0;
}
main .introduction.active {
  opacity: 1;
  transform: translateY(0);
}
main .introduction .in-title {
  text-align: center;
  margin-top: 4.6875vw;
  margin-bottom: 4.5313vw;
}
main .introduction .in-title h1 {
  font-family: "NEXON-Gothic";
  font-weight: 300;
  font-size: 2.9688vw;
}
main .introduction .in-title h2 {
  font-family: "NEXON-Bold";
  font-size: 3.4896vw;
}
main .introduction .in-title .in-deco {
  width: 1px;
  height: 2.6042vw;
  margin: 2.4479vw auto;
  background-color: black;
  text-align: center;
}
main .introduction .in-flex figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
main .introduction .in-flex figure img {
  width: 60%;
}
main .introduction .in-flex figure figcaption {
  font-family: "NEXON-Gothic";
  font-weight: bold;
  width: 40%;
  font-size: 1.4583vw;
}
main .introduction .in-flex figure figcaption p {
  margin-bottom: 2.8646vw;
}
main .producer {
  position: relative;
  overflow: hidden;
  height: 59.4792vw;
  transition: 1s;
  transform: translateY(100px);
  opacity: 0;
}
main .producer.active {
  opacity: 1;
  transform: translateY(0);
}
main .producer .producerback {
  width: 100%;
  position: absolute;
  z-index: -99;
  top: -8.7708vw;
}
main .producer .producer-title {
  max-width: 66.6667vw;
  margin: 0 auto;
  padding-top: 12.8646vw;
  font-size: 3vw;
  padding-bottom: 2.9688vw;
}
main .producer .transform-controlls {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 14.5833vw;
  right: 20.8333vw;
  z-index: 99;
}
main .producer .transform-controlls p {
  display: flex;
  align-items: center;
  font-size: 1.0417vw;
  font-family: "NEXON-Bold";
}
main .producer .transform-controlls p.transfrom-deco {
  color: #dddddd;
  margin-left: 0.7813vw;
  margin-right: 0.7813vw;
}
main .producer .transform-controlls .trnasform-prev {
  transition: 0.5s;
}
main .producer .transform-controlls .trnasform-prev p span {
  margin-right: 0.6771vw;
}
main .producer .transform-controlls .trnasform-prev:hover {
  cursor: pointer;
  transform: translateX(-10px);
}
main .producer .transform-controlls .trnasform-next {
  transition: 0.5s;
}
main .producer .transform-controlls .trnasform-next p span {
  margin-left: 0.6771vw;
}
main .producer .transform-controlls .trnasform-next:hover {
  cursor: pointer;
  transform: translateX(10px);
}
main .producer .swiper {
  width: 100%;
  max-width: 66.6667vw;
  margin: 0 auto;
  height: 100%;
}
main .producer .swiper .swiper-slide figure {
  display: flex;
  align-items: center;
}
main .producer .swiper .swiper-slide figure img {
  width: 294px;
}
main .producer .swiper .swiper-slide figure figcaption {
  margin-left: 5.2083vw;
}
main .producer .swiper .swiper-slide figure figcaption p.p-title {
  color: #cad401;
  font-size: 0.9375vw;
  margin-bottom: 1.25vw;
  font-family: "NEXON-Bold";
}
main .producer .swiper .swiper-slide figure figcaption p.p-name {
  font-size: 2.3438vw;
  margin-bottom: 2.8021vw;
  font-family: "NEXON-Bold";
}
main .producer .swiper .swiper-slide figure figcaption p.p-name span {
  font-size: 0.8854vw;
  color: #999999;
  padding-left: 0.4688vw;
}
main .producer .swiper .swiper-slide figure figcaption p.promotion {
  font-family: "NEXON-Bold";
  font-size: 1.4583vw;
  margin-bottom: 0.9896vw;
  position: relative;
}
main .producer .swiper .swiper-slide figure figcaption p.promotion::after {
  position: absolute;
  content: "";
  width: 66%;
  height: 50%;
  background: #e8e8e8;
  position: absolute;
  bottom: 0;
  left: 2.5%;
  z-index: -1;
}
main .producer .swiper .swiper-slide figure figcaption p.comment {
  font-size: 0.8333vw;
  padding-left: 0.9375vw;
  line-height: 2;
}
main .producer .news {
  max-width: 66.6667vw;
  margin: 0 auto;
}
main .producer .news .news-title {
  padding-bottom: 4.1667vw;
}
main .producer .news .news-title h1 {
  font-size: 3.3854vw;
}
main .producer .news .news-title .ne-more {
  text-align: right;
  transition: 0.5s;
}
main .producer .news .news-title .ne-more:hover {
  cursor: pointer;
  transform: translateX(10px);
}
main .producer .news .news-title .ne-more mark {
  width: 3.0208vw;
  align-items: center;
  font-size: 1.25vw;
  background: none;
  position: relative;
}
main .producer .news .news-title .ne-more mark::after {
  content: "";
  width: 90%;
  height: 50%;
  position: absolute;
  background-color: #007aff;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: -1;
}
main .producer .news .news-title .ne-more span {
  vertical-align: middle;
}
main .producer .news .news-boxs .boxs-container {
  width: 100%;
  display: flex;
}
main .producer .news .news-boxs .boxs-container .ne-boxs {
  width: 33.3333333333%;
  margin-right: 5.2083vw;
}
main .producer .news .news-boxs .boxs-container .ne-boxs figure img {
  width: 100%;
}
main .producer .news .news-boxs .boxs-container .ne-boxs figure figcaption {
  margin-top: 2.0833vw;
}
main .producer .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name {
  font-family: "NEXON-Gothic";
  font-weight: bold;
  font-size: 0.6771vw;
  margin-bottom: 1.5625vw;
}
main .producer .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name span {
  font-size: 0.7292vw;
  font-weight: normal;
  color: #aeaeae;
  padding-left: 0.3646vw;
}
main .producer .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-text {
  font-weight: bold;
  font-size: 1.05vw;
  color: #191b1d;
  margin-bottom: 1.2229vw;
}
main .producer .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-plus {
  color: #888;
  font-size: 0.7813vw;
}
main .news {
  max-width: 66.6667vw;
  margin: 0 auto;
  transition: 1s;
  transform: translateY(100px);
  opacity: 0;
}
main .news.active {
  opacity: 1;
  transform: translateY(0);
}
main .news .news-title {
  padding-bottom: 4.1667vw;
}
main .news .news-title h1 {
  font-size: 3.3854vw;
}
main .news .news-title .ne-more {
  text-align: right;
  transition: 0.5s;
}
main .news .news-title .ne-more:hover {
  cursor: pointer;
  transform: translateX(10px);
}
main .news .news-title .ne-more mark {
  width: 3.0208vw;
  align-items: center;
  font-size: 1.25vw;
  background: none;
  position: relative;
}
main .news .news-title .ne-more mark::after {
  content: "";
  width: 90%;
  height: 50%;
  position: absolute;
  background-color: #007aff;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: -1;
}
main .news .news-title .ne-more span {
  vertical-align: middle;
}
main .news .news-boxs .boxs-container {
  width: 100%;
  display: flex;
}
main .news .news-boxs .boxs-container .ne-boxs {
  width: 33.3333333333%;
  margin-right: 5.2083vw;
}
main .news .news-boxs .boxs-container .ne-boxs figure img {
  width: 100%;
}
main .news .news-boxs .boxs-container .ne-boxs figure figcaption {
  margin-top: 2.0833vw;
}
main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name {
  font-family: "NEXON-Gothic";
  font-weight: bold;
  font-size: 0.6771vw;
  margin-bottom: 1.5625vw;
}
main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name span {
  font-size: 0.7292vw;
  font-weight: normal;
  color: #aeaeae;
  padding-left: 0.3646vw;
}
main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-text {
  font-weight: bold;
  font-size: 1.05vw;
  color: #191b1d;
  margin-bottom: 1.2229vw;
}
main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-plus {
  color: #888;
  font-size: 0.7813vw;
}
main .careers {
  max-width: 66.6667vw;
  margin: 0 auto;
  margin-top: 10.8333vw;
  transition: 1s;
  transform: translateY(100px);
  opacity: 0;
}
main .careers.active {
  opacity: 1;
  transform: translateY(0);
}
main .careers .ca-title {
  padding-bottom: 6vw;
}
main .careers .ca-title h1 {
  font-family: "NEXON-Bold";
  font-size: 3.3854vw;
}
main .careers .ca-title .ca-more {
  text-align: right;
  transition: 0.5s;
}
main .careers .ca-title .ca-more:hover {
  cursor: pointer;
  transform: translateX(10px);
}
main .careers .ca-title .ca-more mark {
  width: 3.0208vw;
  align-items: center;
  font-size: 1.25vw;
  background: none;
  position: relative;
}
main .careers .ca-title .ca-more mark::after {
  content: "";
  width: 90%;
  height: 50%;
  position: absolute;
  background-color: #007aff;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: -1;
}
main .careers .ca-title .ca-more span {
  vertical-align: middle;
}
main .careers .ca-imgbox {
  width: 100%;
  position: relative;
  margin-bottom: 9.375vw;
}
main .careers .ca-imgbox img {
  width: 100%;
}
main .careers .ca-imgbox .ca-txtbox {
  width: 34.1667vw;
  position: absolute;
  background-color: white;
  bottom: 0;
  padding: 1.5625vw;
}
main .careers .ca-imgbox .ca-txtbox p {
  font-size: 1.7708vw;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  main .producer .transform-controlls {
    bottom: 80px;
  }
  main .producer .transform-controlls p {
    font-size: 1.2164vw;
  }
  main .producer .swiper .swiper-slide figure figcaption p.comment {
    font-size: 1.2164vw;
  }
  main .producer .swiper .swiper-slide figure img {
    width: 196px;
  }
  main .news .news-boxs .boxs-container .ne-boxs {
    margin-right: 1.2083vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name {
    font-size: 1.0164vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name span {
    font-size: 0.86vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-text {
    line-height: 1.5;
    font-size: 1.1728vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-plus {
    font-size: 1.0164vw;
    line-height: 1.5;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  main .producer .transform-controlls {
    bottom: 80px;
  }
  main .producer .transform-controlls p {
    font-size: 1.2164vw;
  }
  main .producer .swiper .swiper-slide figure figcaption p.comment {
    font-size: 1.2164vw;
  }
  main .producer .swiper .swiper-slide figure img {
    width: 19.1406vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs {
    margin-right: 1.2083vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name {
    font-size: 1.0164vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name span {
    font-size: 0.86vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-text {
    line-height: 1.5;
    font-size: 1.1728vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-plus {
    font-size: 1.0164vw;
    line-height: 1.5;
  }
}
@media (max-width: 768px) {
  main .producer .transform-controlls {
    bottom: 9.5833vw;
  }
  main .producer .swiper .swiper-slide figure img {
    width: 15.1406vw;
  }
}/*# sourceMappingURL=index.css.map */