header {
  width: 100%;
  position: relative;
}
header .header-inner {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 70px;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
}
header .header-inner .header-nav nav ul {
  width: 100%;
  display: flex;
}
header .header-inner .header-nav nav ul li {
  min-width: 60px;
  position: relative;
  margin-right: 80px;
}
header .header-inner .header-nav nav ul li:nth-of-type(5) {
  margin-right: 0;
}
header .header-inner .header-nav nav ul li a {
  width: 5vw;
  font-family: "NEXON-Bold";
  font-size: 1vw;
  padding-bottom: 5px;
  text-align: center;
  display: inline-block;
}
header .header-inner .header-nav nav ul li a::after {
  content: "";
  width: 0%;
  margin: 0 auto;
  height: 1px;
  background-color: black;
  display: block;
  transition: 0.5s;
  transform: translateY(10px);
  border-radius: 500px;
}
header .header-inner .header-nav nav ul li a:hover {
  opacity: 0.9;
}
header .header-inner .header-nav nav ul li a:hover::after {
  transform-origin: center;
  content: "";
  width: 50%;
  margin: 0 auto;
  height: 1px;
  background-color: black;
  display: block;
}
header .header-inner .header-nav nav ul li .drop-menu {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
}
header .header-inner .header-nav nav ul li .drop-menu > li {
  width: 100%;
  font-size: 0.8vw;
  margin-right: 0;
  margin-bottom: 0px;
  white-space: nowrap;
  opacity: 0;
}
header .header-inner .header-nav nav ul li .drop-menu > li a {
  font-family: "NEXON-Gothic";
  color: #666;
}
header .header-inner .header-nav nav ul li .drop-menu > li a::after {
  background-color: #666;
  opacity: 0.7;
}
header .header-inner .header-nav nav ul li .drop-menu > li a:hover {
  color: black;
}
header .header-inner .header-icon-nav {
  display: flex;
  align-items: center;
}
header .header-inner .header-icon-nav h1 button {
  margin-bottom: 20px;
  color: white;
  background-color: black;
  padding: 8px;
}
header .header-inner .header-icon-nav h1 button:nth-of-type(1) {
  border-radius: 12px 0px 0px 12px;
  transform: translateX(12px);
}
header .header-inner .header-icon-nav h1 button:nth-of-type(2) {
  border-radius: 0px 12px 12px 0px;
}
header .header-inner .header-icon-nav h1 button:hover {
  cursor: pointer;
  opacity: 0.7;
}
header .header-inner .mobile-nav {
  display: none;
}
header .header-inner .mobile-nav g span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: black;
  margin-right: 10px;
  margin-top: 5px;
  transition: 0.5s;
}
header .header-inner .mobile-nav:hover {
  cursor: pointer;
}
header .header-inner .mobile-nav:hover span:nth-of-type(1) {
  transform: rotate(30deg);
}
header .header-inner .mobile-nav:hover span:nth-of-type(2) {
  transform: rotate(-67deg) translateX(10px);
}
header .header-inner .mobile-nav .mobile-navframe {
  position: fixed;
  top: 70px;
  right: 0;
  width: 0%;
  height: 100vh;
  z-index: 9;
  background-color: white;
  transition: 0.3s;
  opacity: 0;
  transform: translateX(75px);
}
header .header-inner .mobile-nav .mobile-navframe ul li {
  line-height: 3.2;
  height: 50px;
  border-top: 1px solid rgba(60, 97, 137, 0.2980392157);
  padding-left: 20px;
}
header .header-inner .mobile-nav .mobile-navframe ul li a {
  font-size: 1vw;
  font-family: "NEXON-Gothic";
  color: #3c6189;
}
header .header-inner .mobile-nav .mobile-navframe ul li:nth-of-type(5) {
  border-bottom: 1px solid rgba(60, 97, 137, 0.2980392157);
}
header .header-inner .mobile-nav.active .mobile-navframe {
  width: 75%;
  opacity: 1;
}
header .dropdown-frame {
  position: absolute;
  top: 6.3021vw;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1280px;
  height: 0px;
  background-color: #f8f8f8;
  z-index: -1;
}
header:hover .dropdown-frame {
  transition: 0.5s;
  height: 480px;
}
header:hover .header-inner .header-nav nav ul li .drop-menu {
  top: 60px;
}
header:hover .header-inner .header-nav nav ul li .drop-menu > li {
  transition: 0.5s;
  opacity: 1;
  margin-bottom: 10px;
}

@media (max-width: 1440px) {
  header .header-inner .header-nav {
    display: none;
  }
  header .header-inner .header-icon-nav {
    margin-right: 50px;
  }
  header .header-inner .mobile-nav {
    width: 40px;
    display: block;
    position: absolute;
    right: 0;
  }
  header:hover .dropdown-frame {
    transition: 0.5s;
    height: 0px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "NEXON-Gothic";
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button,
input {
  background: none;
  border: none;
  outline-style: none;
}

@font-face {
  src: url("../font/NEXON Lv2 Gothic.woff") format("truetype");
  font-family: "NEXON-Gothic";
}
@font-face {
  src: url("../font/NEXON Lv2 Gothic Bold.woff") format("truetype");
  font-family: "NEXON-Bold";
}
@font-face {
  src: url("../font/NEXON Lv2 Gothic Light.woff") format("truetype");
  font-family: "NEXON-Light";
}
footer {
  width: 100%;
  background-color: #f3f3f3;
  padding-top: 50px;
  position: relative;
}
footer #top-btn {
  z-index: 99;
}
footer .topbtn {
  position: fixed;
  right: 20px;
  bottom: 0;
}
footer .footer-inner {
  width: 100%;
  max-width: 66.6667vw;
  margin: 0 auto;
  padding: 10px;
}
footer .footer-inner .footer-greed-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
footer .footer-inner .footer-greed-top .adress {
  width: 50%;
  color: #999;
  font-family: "NEXON-Gothic";
  letter-spacing: 0.1042vw;
}
footer .footer-inner .footer-greed-top .adress li .footer-logo {
  margin-bottom: 1.562vw;
}
footer .footer-inner .footer-greed-top .adress li:nth-of-type(2) {
  margin-bottom: 0.7292vw;
}
footer .footer-inner .footer-greed-top .adress li:nth-of-type(3) {
  margin-bottom: 0.7813vw;
}
footer .footer-inner .footer-greed-top .adress li p {
  font-size: 1vw;
}
footer .footer-inner .footer-greed-top .footer-nav {
  width: 50%;
  display: flex;
  justify-content: right;
}
footer .footer-inner .footer-greed-top .footer-nav > li {
  margin-right: 2vw;
}
footer .footer-inner .footer-greed-top .footer-nav > li:nth-of-type(5) {
  margin-right: 0;
}
footer .footer-inner .footer-greed-top .footer-nav > li > a {
  color: black;
}
footer .footer-inner .footer-greed-top .footer-nav > li > a.footer-nav-title {
  font-size: 0.8vw;
}
footer .footer-inner .footer-greed-top .footer-nav > li ul {
  margin-top: 1.0417vw;
}
footer .footer-inner .footer-greed-top .footer-nav > li ul li a {
  margin-bottom: 0.5208vw;
  color: #999;
  display: block;
  font-size: 0.75vw;
}
footer .footer-inner .footer-greed-bottom hr {
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0.5;
}
footer .footer-inner .footer-greed-bottom > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-inner .footer-greed-bottom > ul li p {
  margin-top: 50px;
  padding-bottom: 30px;
  color: #999;
  display: flex;
  justify-content: space-between;
}
footer .footer-inner .footer-greed-bottom > ul li p span {
  vertical-align: middle;
}
footer .footer-inner .footer-greed-bottom > ul li p.site-contents {
  width: 150px;
}
footer .footer-inner .footer-greed-bottom > ul li:nth-of-type(2) {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
footer .footer-inner .footer-greed-bottom > ul li:nth-of-type(2) ul {
  background-color: #f3f3f3;
  width: 150px;
  transition: 0.5s;
  position: absolute;
  bottom: 54px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  padding: 12px;
  display: none;
  z-index: 1;
}
footer .footer-inner .footer-greed-bottom > ul li:nth-of-type(2) ul li {
  width: 100%;
  height: 27px;
  text-align: center;
}
footer .footer-inner .footer-greed-bottom > ul li:nth-of-type(2) ul li a {
  font-size: 0.8vw;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-inner .footer-greed-bottom > ul li:nth-of-type(2) ul li a::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #999;
  display: inline-block;
  opacity: 0.7;
  transition: 0.5s;
  margin-top: 5px;
  max-width: 50px;
}
footer .footer-inner .footer-greed-bottom > ul li:nth-of-type(2) ul li a:hover::after {
  width: 100%;
  transform-origin: left;
}
footer .footer-inner .footer-greed-bottom > ul li:nth-of-type(2):hover {
  cursor: pointer;
}
footer .footer-inner .footer-greed-bottom > ul li:nth-of-type(2):hover ul {
  display: inline-flex;
}

@media (max-width: 1024px) {
  footer {
    width: 100%;
    background-color: #f3f3f3;
    padding-top: 50px;
    position: relative;
  }
  footer #top-btn {
    z-index: 99;
  }
  footer .topbtn {
    position: fixed;
    right: 20px;
    bottom: 0;
  }
  footer .footer-inner {
    width: 100%;
    max-width: 66.6667vw;
    margin: 0 auto;
    padding: 10px;
  }
  footer .footer-inner .footer-greed-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  footer .footer-inner .footer-greed-top .adress {
    width: 61.5234vw;
    color: #999;
    font-family: "NEXON-Gothic";
    letter-spacing: 0.1042vw;
  }
  footer .footer-inner .footer-greed-top .adress li .footer-logo {
    margin-bottom: 1.562vw;
  }
  footer .footer-inner .footer-greed-top .adress li:nth-of-type(2) {
    margin-bottom: 0.7292vw;
  }
  footer .footer-inner .footer-greed-top .adress li:nth-of-type(3) {
    margin-bottom: 0.7813vw;
  }
  footer .footer-inner .footer-greed-top .adress li p {
    font-size: 1vw;
  }
  footer .footer-inner .footer-greed-top .footer-nav {
    width: 61.5234vw;
    display: flex;
    justify-content: right;
  }
  footer .footer-inner .footer-greed-top .footer-nav > li {
    min-width: 70px;
    margin-right: 1vw;
  }
  footer .footer-inner .footer-greed-top .footer-nav > li:nth-of-type(5) {
    margin-right: 0;
  }
  footer .footer-inner .footer-greed-top .footer-nav > li > a {
    color: black;
  }
  footer .footer-inner .footer-greed-top .footer-nav > li > a.footer-nav-title {
    font-size: 0.8vw;
  }
  footer .footer-inner .footer-greed-top .footer-nav > li ul {
    margin-top: 1.0417vw;
  }
  footer .footer-inner .footer-greed-top .footer-nav > li ul li a {
    margin-bottom: 0.5208vw;
    color: #999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.75vw;
  }
  footer .footer-inner .footer-greed-top .footer-nav > li ul li a::after {
    justify-content: center;
    content: "";
    width: 0%;
    height: 1px;
    background-color: #999;
    display: inline-flex;
    opacity: 0.7;
    margin-top: 5px;
    max-width: 50px;
  }
  footer .footer-inner .footer-greed-top .footer-nav > li ul li a:hover::after {
    width: 80%;
    transition: 0.5s;
  }
  footer .footer-inner .footer-greed-bottom hr {
    position: absolute;
    width: 100%;
    left: 0;
    opacity: 0.5;
  }
  footer .footer-inner .footer-greed-bottom > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .footer-inner .footer-greed-bottom > ul li p {
    margin-top: 50px;
    padding-bottom: 30px;
    color: #999;
    display: flex;
    justify-content: space-between;
  }
  footer .footer-inner .footer-greed-bottom > ul li p span {
    vertical-align: middle;
  }
  footer .footer-inner .footer-greed-bottom > ul li p.site-contents {
    width: 150px;
  }
  footer .footer-inner .footer-greed-bottom > ul li:nth-of-type(2) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  footer .footer-inner .footer-greed-bottom > ul li:nth-of-type(2) ul {
    background-color: #f3f3f3;
    width: 150px;
    transition: 0.5s;
    position: absolute;
    bottom: 54px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    padding: 12px;
    display: none;
    z-index: 1;
  }
  footer .footer-inner .footer-greed-bottom > ul li:nth-of-type(2) ul li {
    width: 100%;
    height: 27px;
    text-align: center;
  }
  footer .footer-inner .footer-greed-bottom > ul li:nth-of-type(2) ul li a {
    font-size: 0.8vw;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footer-inner .footer-greed-bottom > ul li:nth-of-type(2) ul li a::after {
    content: "";
    width: 0%;
    height: 1px;
    background-color: #999;
    display: inline-block;
    opacity: 0.7;
    transition: 0.5s;
    margin-top: 5px;
    max-width: 50px;
  }
  footer .footer-inner .footer-greed-bottom > ul li:nth-of-type(2) ul li a:hover::after {
    width: 100%;
    transform-origin: left;
  }
  footer .footer-inner .footer-greed-bottom > ul li:nth-of-type(2):hover {
    cursor: pointer;
  }
  footer .footer-inner .footer-greed-bottom > ul li:nth-of-type(2):hover ul {
    display: inline-flex;
  }
}
@media (max-width: 768px) {
  footer .footer-inner .footer-greed-top {
    width: 100%;
    flex-direction: column;
  }
  footer .footer-inner .footer-greed-top .adress {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  footer .footer-inner .footer-greed-top .adress p {
    margin-bottom: 20px;
  }
  footer .footer-inner .footer-greed-top .adress img:hover {
    cursor: pointer;
  }
  footer .footer-inner .footer-greed-top .footer-nav {
    width: 100%;
    justify-content: center;
  }
}
main .banner-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 70px;
}
main .banner-wrap .swiper {
  width: 100%;
  height: 100%;
}
main .banner-wrap .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .banner-wrap .swiper .swiper-slide video {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .banner-wrap .swiper .swiper-button-next {
  position: absolute;
  right: 5%;
  color: white;
}
main .banner-wrap .swiper .swiper-button-next::after {
  font-size: 1.0417vw;
  font-weight: bold;
}
main .banner-wrap .swiper .swiper-button-prev {
  position: absolute;
  left: 5%;
  color: white;
}
main .banner-wrap .swiper .swiper-button-prev::after {
  font-size: 1.0417vw;
  font-weight: bold;
}
main .banner-wrap .swiper .swiper-progress {
  width: 90%;
  height: 2px;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(211, 211, 211, 0.308);
}
main .banner-wrap .swiper .swiper-progress .swiper-pagination-progressbar-fill {
  background-color: #fff;
}
main .introduction {
  width: 90%;
  max-width: 66.6667vw;
  margin: 0 auto;
  transition: 1s;
  transform: translateY(100px);
  opacity: 0;
}
main .introduction.active {
  opacity: 1;
  transform: translateY(0);
}
main .introduction .in-title {
  text-align: center;
  margin-top: 4.6875vw;
  margin-bottom: 4.5313vw;
}
main .introduction .in-title h1 {
  font-family: "NEXON-Gothic";
  font-weight: 300;
  font-size: 2.9688vw;
}
main .introduction .in-title h2 {
  font-family: "NEXON-Bold";
  font-size: 3.4896vw;
}
main .introduction .in-title .in-deco {
  width: 1px;
  height: 2.6042vw;
  margin: 2.4479vw auto;
  background-color: black;
  text-align: center;
}
main .introduction .in-flex figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
main .introduction .in-flex figure img {
  width: 60%;
}
main .introduction .in-flex figure figcaption {
  font-family: "NEXON-Gothic";
  font-weight: bold;
  width: 40%;
  font-size: 1.4583vw;
}
main .introduction .in-flex figure figcaption p {
  margin-bottom: 2.8646vw;
}
main .producer {
  position: relative;
  overflow: hidden;
  height: 59.4792vw;
  transition: 1s;
  transform: translateY(100px);
  opacity: 0;
}
main .producer.active {
  opacity: 1;
  transform: translateY(0);
}
main .producer .producerback {
  width: 100%;
  position: absolute;
  z-index: -99;
  top: -8.7708vw;
}
main .producer .producer-title {
  max-width: 66.6667vw;
  margin: 0 auto;
  padding-top: 12.8646vw;
  font-size: 3vw;
  padding-bottom: 2.9688vw;
}
main .producer .transform-controlls {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 14.5833vw;
  right: 20.8333vw;
  z-index: 99;
}
main .producer .transform-controlls p {
  display: flex;
  align-items: center;
  font-size: 1.0417vw;
  font-family: "NEXON-Bold";
}
main .producer .transform-controlls p.transfrom-deco {
  color: #dddddd;
  margin-left: 0.7813vw;
  margin-right: 0.7813vw;
}
main .producer .transform-controlls .trnasform-prev {
  transition: 0.5s;
}
main .producer .transform-controlls .trnasform-prev p span {
  margin-right: 0.6771vw;
}
main .producer .transform-controlls .trnasform-prev:hover {
  cursor: pointer;
  transform: translateX(-10px);
}
main .producer .transform-controlls .trnasform-next {
  transition: 0.5s;
}
main .producer .transform-controlls .trnasform-next p span {
  margin-left: 0.6771vw;
}
main .producer .transform-controlls .trnasform-next:hover {
  cursor: pointer;
  transform: translateX(10px);
}
main .producer .swiper {
  width: 100%;
  max-width: 66.6667vw;
  margin: 0 auto;
  height: 100%;
}
main .producer .swiper .swiper-slide figure {
  display: flex;
  align-items: center;
}
main .producer .swiper .swiper-slide figure img {
  width: 294px;
}
main .producer .swiper .swiper-slide figure figcaption {
  margin-left: 5.2083vw;
}
main .producer .swiper .swiper-slide figure figcaption p.p-title {
  color: #cad401;
  font-size: 0.9375vw;
  margin-bottom: 1.25vw;
  font-family: "NEXON-Bold";
}
main .producer .swiper .swiper-slide figure figcaption p.p-name {
  font-size: 2.3438vw;
  margin-bottom: 2.8021vw;
  font-family: "NEXON-Bold";
}
main .producer .swiper .swiper-slide figure figcaption p.p-name span {
  font-size: 0.8854vw;
  color: #999999;
  padding-left: 0.4688vw;
}
main .producer .swiper .swiper-slide figure figcaption p.promotion {
  font-family: "NEXON-Bold";
  font-size: 1.4583vw;
  margin-bottom: 0.9896vw;
  position: relative;
}
main .producer .swiper .swiper-slide figure figcaption p.promotion::after {
  position: absolute;
  content: "";
  width: 66%;
  height: 50%;
  background: #e8e8e8;
  position: absolute;
  bottom: 0;
  left: 2.5%;
  z-index: -1;
}
main .producer .swiper .swiper-slide figure figcaption p.comment {
  font-size: 0.8333vw;
  padding-left: 0.9375vw;
  line-height: 2;
}
main .producer .news {
  max-width: 66.6667vw;
  margin: 0 auto;
}
main .producer .news .news-title {
  padding-bottom: 4.1667vw;
}
main .producer .news .news-title h1 {
  font-size: 3.3854vw;
}
main .producer .news .news-title .ne-more {
  text-align: right;
  transition: 0.5s;
}
main .producer .news .news-title .ne-more:hover {
  cursor: pointer;
  transform: translateX(10px);
}
main .producer .news .news-title .ne-more mark {
  width: 3.0208vw;
  align-items: center;
  font-size: 1.25vw;
  background: none;
  position: relative;
}
main .producer .news .news-title .ne-more mark::after {
  content: "";
  width: 90%;
  height: 50%;
  position: absolute;
  background-color: #007aff;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: -1;
}
main .producer .news .news-title .ne-more span {
  vertical-align: middle;
}
main .producer .news .news-boxs .boxs-container {
  width: 100%;
  display: flex;
}
main .producer .news .news-boxs .boxs-container .ne-boxs {
  width: 33.3333333333%;
  margin-right: 5.2083vw;
}
main .producer .news .news-boxs .boxs-container .ne-boxs figure img {
  width: 100%;
}
main .producer .news .news-boxs .boxs-container .ne-boxs figure figcaption {
  margin-top: 2.0833vw;
}
main .producer .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name {
  font-family: "NEXON-Gothic";
  font-weight: bold;
  font-size: 0.6771vw;
  margin-bottom: 1.5625vw;
}
main .producer .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name span {
  font-size: 0.7292vw;
  font-weight: normal;
  color: #aeaeae;
  padding-left: 0.3646vw;
}
main .producer .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-text {
  font-weight: bold;
  font-size: 1.05vw;
  color: #191b1d;
  margin-bottom: 1.2229vw;
}
main .producer .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-plus {
  color: #888;
  font-size: 0.7813vw;
}
main .news {
  max-width: 66.6667vw;
  margin: 0 auto;
  transition: 1s;
  transform: translateY(100px);
  opacity: 0;
}
main .news.active {
  opacity: 1;
  transform: translateY(0);
}
main .news .news-title {
  padding-bottom: 4.1667vw;
}
main .news .news-title h1 {
  font-size: 3.3854vw;
}
main .news .news-title .ne-more {
  text-align: right;
  transition: 0.5s;
}
main .news .news-title .ne-more:hover {
  cursor: pointer;
  transform: translateX(10px);
}
main .news .news-title .ne-more mark {
  width: 3.0208vw;
  align-items: center;
  font-size: 1.25vw;
  background: none;
  position: relative;
}
main .news .news-title .ne-more mark::after {
  content: "";
  width: 90%;
  height: 50%;
  position: absolute;
  background-color: #007aff;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: -1;
}
main .news .news-title .ne-more span {
  vertical-align: middle;
}
main .news .news-boxs .boxs-container {
  width: 100%;
  display: flex;
}
main .news .news-boxs .boxs-container .ne-boxs {
  width: 33.3333333333%;
  margin-right: 5.2083vw;
}
main .news .news-boxs .boxs-container .ne-boxs figure img {
  width: 100%;
}
main .news .news-boxs .boxs-container .ne-boxs figure figcaption {
  margin-top: 2.0833vw;
}
main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name {
  font-family: "NEXON-Gothic";
  font-weight: bold;
  font-size: 0.6771vw;
  margin-bottom: 1.5625vw;
}
main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name span {
  font-size: 0.7292vw;
  font-weight: normal;
  color: #aeaeae;
  padding-left: 0.3646vw;
}
main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-text {
  font-weight: bold;
  font-size: 1.05vw;
  color: #191b1d;
  margin-bottom: 1.2229vw;
}
main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-plus {
  color: #888;
  font-size: 0.7813vw;
}
main .careers {
  max-width: 66.6667vw;
  margin: 0 auto;
  margin-top: 10.8333vw;
  transition: 1s;
  transform: translateY(100px);
  opacity: 0;
}
main .careers.active {
  opacity: 1;
  transform: translateY(0);
}
main .careers .ca-title {
  padding-bottom: 6vw;
}
main .careers .ca-title h1 {
  font-family: "NEXON-Bold";
  font-size: 3.3854vw;
}
main .careers .ca-title .ca-more {
  text-align: right;
  transition: 0.5s;
}
main .careers .ca-title .ca-more:hover {
  cursor: pointer;
  transform: translateX(10px);
}
main .careers .ca-title .ca-more mark {
  width: 3.0208vw;
  align-items: center;
  font-size: 1.25vw;
  background: none;
  position: relative;
}
main .careers .ca-title .ca-more mark::after {
  content: "";
  width: 90%;
  height: 50%;
  position: absolute;
  background-color: #007aff;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: -1;
}
main .careers .ca-title .ca-more span {
  vertical-align: middle;
}
main .careers .ca-imgbox {
  width: 100%;
  position: relative;
  margin-bottom: 9.375vw;
}
main .careers .ca-imgbox img {
  width: 100%;
}
main .careers .ca-imgbox .ca-txtbox {
  width: 34.1667vw;
  position: absolute;
  background-color: white;
  bottom: 0;
  padding: 1.5625vw;
}
main .careers .ca-imgbox .ca-txtbox p {
  font-size: 1.7708vw;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  main .producer .transform-controlls {
    bottom: 80px;
  }
  main .producer .transform-controlls p {
    font-size: 1.2164vw;
  }
  main .producer .swiper .swiper-slide figure figcaption p.comment {
    font-size: 1.2164vw;
  }
  main .producer .swiper .swiper-slide figure img {
    width: 196px;
  }
  main .news .news-boxs .boxs-container .ne-boxs {
    margin-right: 1.2083vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name {
    font-size: 1.0164vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name span {
    font-size: 0.86vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-text {
    line-height: 1.5;
    font-size: 1.1728vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-plus {
    font-size: 1.0164vw;
    line-height: 1.5;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  main .producer .transform-controlls {
    bottom: 80px;
  }
  main .producer .transform-controlls p {
    font-size: 1.2164vw;
  }
  main .producer .swiper .swiper-slide figure figcaption p.comment {
    font-size: 1.2164vw;
  }
  main .producer .swiper .swiper-slide figure img {
    width: 19.1406vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs {
    margin-right: 1.2083vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name {
    font-size: 1.0164vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-name span {
    font-size: 0.86vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-text {
    line-height: 1.5;
    font-size: 1.1728vw;
  }
  main .news .news-boxs .boxs-container .ne-boxs figure figcaption p.boxs-plus {
    font-size: 1.0164vw;
    line-height: 1.5;
  }
}
@media (max-width: 768px) {
  main .producer .transform-controlls {
    bottom: 9.5833vw;
  }
  main .producer .swiper .swiper-slide figure img {
    width: 15.1406vw;
  }
}/*# sourceMappingURL=index.css.map */