@import "./common/media";
@import "_mixin";
body {
    .loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        .spinner {
            border: 5px solid #f3f3f3;
            border-top: 5px solid #3498db;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 2s linear infinite;
            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 800px;
    height: 800px;
    background-color: white;
    //background: linear-gradient(to top, black, white, black);
    border: 1px solid black;
    .popup-deco{
        width: 200px;
        height: 200px;
        position: absolute;
        background-color: black;
        border-radius: 200px;
        opacity: 0.5;
    }
    .popup-deco1{
        top: 200px;
        left: 200px;
    }
    .popup-deco2{
        top: 480px;
        right: 170px;
        background-color: #007aff;
    }
    .popup-deco5{
        bottom: 0;
        right: 80px;
        background-color: black;
    }
    .popup-deco6{
        top: 450px;
        right: 0px;
        background-color: pink;
    }
    .popup-deco3{
        top: 400px;
        left: 50px;
        background-color: green;
    }
    .popup-deco4{
        top: 100px;
        left: 10px;
        background-color: pink;
    }
    &.active {
        display: none;
    }
    &:active {
        cursor: grab;
    }
    .popup-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(to right, #00b09b, #96c93d);
        padding: 0px 20px;
        position: relative;
        height: 50px;
        color: white;
        h4 {
            height: 80%;
            padding: 8px;
            border-radius: 10px 10px 0px 0px;
            @include Gothic;
            color: white;
            font-size: 16px;
            text-align: center;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &::before {
                content: "";
                width: 20px;
                height: 20px;
                display: inline-block;
                background-image: url(../imgs/favicon/favicon.ico);
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        .popup-close {
            &:hover {
                cursor: pointer;
            }
        }
    }
    .popup-main {
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        .popup-mainlogo {
            figure {
                margin-top: 50px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 6.25%;
                }
                figcaption {
                    margin-left: 10px;
                    @include light;
                    font-weight: 650;
                    font-size: 24px;
                    color: black;
                }
            }
        }
        .popup-content {
            margin-top: 50px;
            .popup-games {
                display: flex;
                align-items: center;
                width: 300px;
                height: 300px;
                background-color: white;
                border-radius: 0px 200px 200px 0px;
                transition: 0.5s;
                flex-direction: column;
                justify-content: center;
                &:hover {
                    width: 100%;
                }
                a {
                    @include light;
                    font-weight: 600;
                    font-size: 16px;
                    display: block;
                    height: 35px;
                    padding-left: 5%;
                    color: black;
                    &:hover {
                        transition: 0.5s;
                        transform: translateX(10px);
                        cursor: pointer;
                        opacity: 0.7;
                    }
                }
                &.popup-Enterprise {
                    position: absolute;
                    right: 0;
                    border-radius: 200px 0px 0px 200px;
                }
                &.popup-shadow {
                    box-shadow: 1px 1px 5px #eee;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .popup-footer {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px;
        position: absolute;
        bottom: 0;
        .popupcheck-deco {
            width: 5%;
            height: 20px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            margin-right: 5px;
            transition: 0.5s;
            position: relative;
            background-color: black;
            > span {
                width: 20px;
                height: 20px;
                background-color: white;
                border-radius: 20px;
                margin-left: 0;
                transition: 0.5s;
                position: absolute;
                left: -1px;
            }
            &.active {
                span {
                    left: 50%;
                    background-color: #007aff;
                }
            }
        }
        input {
            margin-right: 5px;
            display: none;
        }
        label {
            color: black;
            @include light;
            font-weight: 600;
        }
    }
}
header {
    display: none;
}
footer {
    display: none;
}
main {
    display: none;
    .banner-wrap {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 70px;
        .swiper {
            width: 100%;
            height: 100%;
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                video {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .swiper-button-next {
                position: absolute;
                right: 5%;
                color: white;
                &::after {
                    font-size: 1.0417vw;
                    font-weight: bold;
                }
            }
            .swiper-button-prev {
                position: absolute;
                left: 5%;
                color: white;
                &::after {
                    font-size: 1.0417vw;
                    font-weight: bold;
                }
            }
            .swiper-progress {
                width: 90%;
                height: 2px;
                top: 90%;
                left: 50%;
                transform: translateX(-50%);
                background-color: rgba(211, 211, 211, 0.308);
                .swiper-pagination-progressbar-fill {
                    background-color: #fff;
                }
            }
        }
    }
    .introduction {
        width: 90%;
        @include greed;
        transition: 1s;
        transform: translateY(100px);
        opacity: 0;
        &.active {
            opacity: 1;
            transform: translateY(0);
        }
        .in-title {
            text-align: center;
            margin-top: 4.6875vw;
            margin-bottom: 4.5313vw;
            h1 {
                font-family: "NEXON-Gothic";
                font-weight: 300;
                font-size: 2.9688vw;
            }
            h2 {
                font-family: "NEXON-Bold";
                font-size: 3.4896vw;
            }
            .in-deco {
                width: 1px;
                height: 2.6042vw;
                margin: 2.4479vw auto;
                background-color: black;
                text-align: center;
            }
        }
        .in-flex {
            figure {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                img {
                    width: 60%;
                }
                figcaption {
                    @include Gothic;
                    font-weight: bold;
                    width: 40%;
                    font-size: 1.4583vw;
                    p {
                        margin-bottom: 2.8646vw;
                    }
                }
            }
        }
    }
    .producer {
        position: relative;
        overflow: hidden;
        @include secheigth;
        transition: 1s;
        transform: translateY(100px);
        opacity: 0;
        &.active {
            opacity: 1;
            transform: translateY(0);
        }
        .producerback {
            width: 100%;
            position: absolute;
            z-index: -99;
            top: -8.7708vw;
        }
        .producer-title {
            @include greed;
            padding-top: 12.8646vw;
            font-size: 3vw;
            padding-bottom: 2.9688vw;
        }
        .transform-controlls {
            position: absolute;
            display: flex;
            align-items: center;
            bottom: 14.5833vw;
            right: 20.8333vw;
            z-index: 99;
            p {
                display: flex;
                align-items: center;
                font-size: 1.0417vw;
                @include bold;
                &.transfrom-deco {
                    color: #dddddd;
                    margin-left: 0.7813vw;
                    margin-right: 0.7813vw;
                }
            }
            .trnasform-prev {
                transition: 0.5s;
                p {
                    span {
                        margin-right: 0.6771vw;
                    }
                }
                &:hover {
                    cursor: pointer;
                    transform: translateX(-10px);
                }
            }
            .trnasform-next {
                transition: 0.5s;
                p {
                    span {
                        margin-left: 0.6771vw;
                    }
                }
                &:hover {
                    cursor: pointer;
                    transform: translateX(10px);
                }
            }
        }
        .swiper {
            width: 100%;
            @include greed;
            height: 100%;
            .swiper-slide {
                figure {
                    display: flex;
                    align-items: center;
                    img {
                        width: 294px;
                    }
                    figcaption {
                        margin-left: 5.2083vw;
                        p {
                            &.p-title {
                                color: #cad401;
                                font-size: 0.9375vw;
                                margin-bottom: 1.25vw;
                                @include bold;
                            }
                            &.p-name {
                                font-size: 2.3438vw;
                                margin-bottom: 2.8021vw;
                                @include bold;
                                span {
                                    font-size: 0.8854vw;
                                    color: #999999;
                                    padding-left: 0.4688vw;
                                }
                            }
                            &.promotion {
                                @include bold;
                                font-size: 1.4583vw;
                                margin-bottom: 0.9896vw;
                                position: relative;
                                &::after {
                                    position: absolute;
                                    content: "";
                                    width: 66%;
                                    height: 50%;
                                    background: #e8e8e8;
                                    position: absolute;
                                    bottom: 0;
                                    left: 2.5%;
                                    z-index: -1;
                                }
                            }
                            &.comment {
                                font-size: 0.8333vw;
                                padding-left: 0.9375vw;
                                line-height: 2;
                            }
                        }
                    }
                }
            }
        }
        .news {
            @include greed;
            .news-title {
                h1 {
                    font-size: 3.3854vw;
                }
                padding-bottom: 4.1667vw;
                .ne-more {
                    text-align: right;
                    transition: 0.5s;
                    &:hover {
                        cursor: pointer;
                        transform: translateX(10px);
                    }
                    mark {
                        width: 3.0208vw;
                        align-items: center;
                        font-size: 1.25vw;
                        background: none;
                        position: relative;
                        &::after {
                            content: "";
                            width: 90%;
                            height: 50%;
                            position: absolute;
                            background-color: #007aff;
                            left: 0;
                            bottom: 0;
                            opacity: 0.8;
                            z-index: -1;
                        }
                    }
                    span {
                        vertical-align: middle;
                    }
                }
            }
            .news-boxs {
                .boxs-container {
                    width: 100%;
                    display: flex;
                    .ne-boxs {
                        width: calc(100% / 3);
                        margin-right: 5.2083vw;
                        figure {
                            img {
                                width: 100%;
                            }
                            figcaption {
                                margin-top: 2.0833vw;
                                p {
                                    &.boxs-name {
                                        @include Gothic;
                                        font-weight: bold;
                                        font-size: 0.6771vw;
                                        margin-bottom: 1.5625vw;
                                        span {
                                            font-size: 0.7292vw;
                                            font-weight: normal;
                                            color: #aeaeae;
                                            padding-left: 0.3646vw;
                                        }
                                    }
                                    &.boxs-text {
                                        font-weight: bold;
                                        font-size: 1.05vw;
                                        color: #191b1d;
                                        margin-bottom: 1.2229vw;
                                    }
                                    &.boxs-plus {
                                        color: #888;
                                        font-size: 0.7813vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .news {
        @include greed;
        transition: 1s;
        transform: translateY(100px);
        opacity: 0;
        &.active {
            opacity: 1;
            transform: translateY(0);
        }
        .news-title {
            h1 {
                font-size: 3.3854vw;
            }
            padding-bottom: 4.1667vw;
            .ne-more {
                text-align: right;
                transition: 0.5s;
                &:hover {
                    cursor: pointer;
                    transform: translateX(10px);
                }
                mark {
                    width: 3.0208vw;
                    align-items: center;
                    font-size: 1.25vw;
                    background: none;
                    position: relative;
                    &::after {
                        content: "";
                        width: 90%;
                        height: 50%;
                        position: absolute;
                        background-color: #007aff;
                        left: 0;
                        bottom: 0;
                        opacity: 0.8;
                        z-index: -1;
                    }
                }
                span {
                    vertical-align: middle;
                }
            }
        }
        .news-boxs {
            .boxs-container {
                width: 100%;
                display: flex;
                .ne-boxs {
                    width: calc(100% / 3);
                    margin-right: 5.2083vw;
                    figure {
                        img {
                            width: 100%;
                        }
                        figcaption {
                            margin-top: 2.0833vw;
                            p {
                                &.boxs-name {
                                    @include Gothic;
                                    font-weight: bold;
                                    font-size: 0.6771vw;
                                    margin-bottom: 1.5625vw;
                                    span {
                                        font-size: 0.7292vw;
                                        font-weight: normal;
                                        color: #aeaeae;
                                        padding-left: 0.3646vw;
                                    }
                                }
                                &.boxs-text {
                                    font-weight: bold;
                                    font-size: 1.05vw;
                                    color: #191b1d;
                                    margin-bottom: 1.2229vw;
                                }
                                &.boxs-plus {
                                    color: #888;
                                    font-size: 0.7813vw;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .careers {
        @include greed;
        margin-top: 10.8333vw;
        transition: 1s;
        transform: translateY(100px);
        opacity: 0;
        &.active {
            opacity: 1;
            transform: translateY(0);
        }
        .ca-title {
            padding-bottom: 6vw;
            h1 {
                @include bold;
                font-size: 3.3854vw;
            }
            .ca-more {
                text-align: right;
                transition: 0.5s;
                &:hover {
                    cursor: pointer;
                    transform: translateX(10px);
                }
                mark {
                    width: 3.0208vw;
                    align-items: center;
                    font-size: 1.25vw;
                    background: none;
                    position: relative;
                    &::after {
                        content: "";
                        width: 90%;
                        height: 50%;
                        position: absolute;
                        background-color: #007aff;
                        left: 0;
                        bottom: 0;
                        opacity: 0.8;
                        z-index: -1;
                    }
                }
                span {
                    vertical-align: middle;
                }
            }
        }
        .ca-imgbox {
            width: 100%;
            position: relative;
            margin-bottom: 9.375vw;
            img {
                width: 100%;
            }
            .ca-txtbox {
                width: 34.1667vw;
                position: absolute;
                background-color: white;
                bottom: 0;
                padding: 1.5625vw;
                p {
                    font-size: 1.7708vw;
                }
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    main {
        .producer {
            .transform-controlls {
                bottom: 80px;
                p {
                    font-size: 1.2164vw;
                }
            }
            .swiper {
                .swiper-slide {
                    figure {
                        figcaption {
                            p.comment {
                                font-size: 1.2164vw;
                            }
                        }
                        img {
                            width: 196px;
                        }
                    }
                }
            }
        }
        .news {
            .news-boxs {
                .boxs-container {
                    .ne-boxs {
                        margin-right: 1.2083vw;
                        figure {
                            figcaption {
                                p {
                                    &.boxs-name {
                                        font-size: 1.0164vw;
                                        span {
                                            font-size: 0.86vw;
                                        }
                                    }
                                    &.boxs-text {
                                        line-height: 1.5;
                                        font-size: 1.1728vw;
                                    }
                                    &.boxs-plus {
                                        font-size: 1.0164vw;
                                        line-height: 1.5;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    main {
        .producer {
            .transform-controlls {
                bottom: 80px;
                p {
                    font-size: 1.2164vw;
                }
            }
            .swiper {
                .swiper-slide {
                    figure {
                        figcaption {
                            p.comment {
                                font-size: 1.2164vw;
                            }
                        }
                        img {
                            width: 19.1406vw;
                        }
                    }
                }
            }
        }
        .news {
            .news-boxs {
                .boxs-container {
                    .ne-boxs {
                        margin-right: 1.2083vw;
                        figure {
                            figcaption {
                                p {
                                    &.boxs-name {
                                        font-size: 1.0164vw;
                                        span {
                                            font-size: 0.86vw;
                                        }
                                    }
                                    &.boxs-text {
                                        line-height: 1.5;
                                        font-size: 1.1728vw;
                                    }
                                    &.boxs-plus {
                                        font-size: 1.0164vw;
                                        line-height: 1.5;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    main {
        .producer {
            .transform-controlls {
                bottom: 9.5833vw;
            }
            .swiper {
                .swiper-slide {
                    figure {
                        img {
                            width: 15.1406vw;
                        }
                    }
                }
            }
        }
    }
}
