header {
  width: 100%;
  position: relative;
}
header .mobile-frame {
  top: 0;
  right: 0;
  width: 0%;
  height: 100vh;
  position: fixed;
  background-color: white;
  z-index: 99;
  transition: 0.5s;
}
header .mobile-frame.active {
  width: 75%;
}
header .mobile-frame ul {
  display: block;
}
header .mobile-frame ul li {
  padding: 10px;
  border-top: 1px solid rgba(60, 97, 137, 0.2980392157);
}
header .mobile-frame ul li > a {
  font-size: 1vw;
  color: #3c6189;
  font-family: "NEXON-Bold";
  display: flex;
  flex-direction: column;
}
header .mobile-frame ul li > a::after {
  content: "";
  transition: 0.5s;
  width: 0%;
  height: 2px;
  background-color: black;
  margin-top: 5px;
}
header .mobile-frame ul li:nth-of-type(5) {
  border-bottom: 1px solid rgba(60, 97, 137, 0.2980392157);
}
header .mobile-frame ul li:hover {
  background-color: #f3f3f3;
}
header .mobile-frame ul li:hover a::after {
  width: 5%;
}
header .mobile-frame ul li:hover .drop-drop li {
  height: 35px;
  opacity: 1;
}
header .mobile-frame ul li:hover .drop-drop li a:hover::after {
  width: 100%;
}
header .mobile-frame ul li .drop-drop {
  transition: 0.5s;
}
header .mobile-frame ul li .drop-drop li {
  padding: 0;
  border: none;
  height: 0px;
  opacity: 0;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
header .mobile-frame ul li .drop-drop li a {
  font-family: "NEXON-Gothic";
  color: black;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
}
header .mobile-frame ul li .drop-drop li a::after {
  content: "";
  transition: 0.5s;
  width: 0%;
  height: 2px;
  background-color: #3c6189;
  margin-top: 5px;
}
header .mobile-frame ul.closebtn {
  text-align: right;
  width: 100%;
  height: 50px;
}
header .mobile-frame ul.closebtn span {
  padding: 10px;
  color: rgb(60, 97, 137);
}
header .mobile-frame ul.closebtn span:hover {
  cursor: pointer;
}
header .header-inner {
  position: fixed;
  top: 0;
  z-index: 90;
  width: 100%;
  height: 70px;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
}
header .header-inner .header-nav nav ul {
  width: 100%;
  display: flex;
}
header .header-inner .header-nav nav ul li {
  min-width: 60px;
  position: relative;
  margin-right: 80px;
}
header .header-inner .header-nav nav ul li:nth-of-type(5) {
  margin-right: 0;
}
header .header-inner .header-nav nav ul li a {
  width: 5vw;
  font-size: 1vw;
  padding-bottom: 5px;
  text-align: center;
  display: inline-block;
}
header .header-inner .header-nav nav ul li a::after {
  content: "";
  width: 0%;
  margin: 0 auto;
  height: 1px;
  background-color: black;
  display: block;
  transition: 0.5s;
  transform: translateY(10px);
  border-radius: 500px;
}
header .header-inner .header-nav nav ul li a:hover {
  opacity: 0.9;
}
header .header-inner .header-nav nav ul li a:hover::after {
  transform-origin: center;
  content: "";
  width: 50%;
  margin: 0 auto;
  height: 1px;
  background-color: black;
  display: block;
}
header .header-inner .header-nav nav ul li .drop-menu {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
}
header .header-inner .header-nav nav ul li .drop-menu > li {
  width: 100%;
  font-size: 0.8vw;
  margin-right: 0;
  margin-bottom: 0px;
  white-space: nowrap;
  opacity: 0;
}
header .header-inner .header-nav nav ul li .drop-menu > li a {
  font-family: "NEXON-Gothic";
  color: #666;
}
header .header-inner .header-nav nav ul li .drop-menu > li a::after {
  background-color: #666;
  opacity: 0.7;
}
header .header-inner .header-nav nav ul li .drop-menu > li a:hover {
  color: black;
}
header .header-inner .header-icon-nav {
  display: flex;
  align-items: center;
}
header .header-inner .header-icon-nav h1 button {
  margin-bottom: 20px;
  color: white;
  background-color: black;
  padding: 8px;
}
header .header-inner .header-icon-nav h1 button:nth-of-type(1) {
  border-radius: 12px 0px 0px 12px;
  transform: translateX(12px);
}
header .header-inner .header-icon-nav h1 button:nth-of-type(2) {
  border-radius: 0px 12px 12px 0px;
}
header .header-inner .header-icon-nav h1 button:hover {
  cursor: pointer;
  opacity: 0.7;
}
header .header-inner .header-icon-nav h1 g {
  display: none;
}
header .header-inner .header-icon-nav h1 g span {
  width: 40px;
  height: 3px;
  display: block;
  background-color: black;
  margin-left: 50px;
  margin-bottom: 10px;
}
header .header-inner .header-icon-nav h1 g span:nth-of-type(3) {
  margin-bottom: 0;
}
header .header-inner .header-icon-nav h1 g:hover {
  cursor: pointer;
}
header .dropdown-frame {
  position: absolute;
  top: 6.3021vw;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1280px;
  height: 0px;
  background-color: #f8f8f8;
  z-index: 9;
}
header:hover .dropdown-frame {
  transition: 0.5s;
  height: 480px;
  background-color: #f8f8f8;
}
header:hover .header-inner .header-nav nav ul li .drop-menu {
  top: 60px;
}
header:hover .header-inner .header-nav nav ul li .drop-menu > li {
  transition: 0.5s;
  opacity: 1;
  margin-bottom: 10px;
}

@media (max-width: 1440px) {
  header .header-inner .header-nav {
    display: none;
  }
  header .header-inner .header-icon-nav {
    margin-right: 50px;
  }
  header .header-inner .mobile-nav {
    width: 40px;
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
  }
  header .header-inner .mobile-nav g span {
    height: 4px;
  }
  header .header-inner .header-icon-nav h1 g {
    display: block;
  }
  header:hover .dropdown-frame {
    transition: 0.5s;
    height: 0px;
  }
}
@media (max-width: 1300px) {
  header .header-inner {
    background-color: white;
  }
  header .header-inner .header-nav {
    display: none;
  }
  header .header-inner .header-icon-nav {
    margin-right: 50px;
  }
  header .header-inner .mobile-nav {
    width: 40px;
    display: block;
    position: absolute;
    right: 0;
  }
  header:hover .dropdown-frame {
    transition: 0.5s;
    height: 0px;
  }
}/*# sourceMappingURL=header.css.map */