* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "NEXON-Gothic";
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
button,
input {
    background: none;
    border: none;
    outline-style: none;
}

@font-face {
    src: url("../font/NEXON\ Lv2\ Gothic.woff") format("truetype");
    font-family: "NEXON-Gothic";
}
@font-face {
    src: url("../font/NEXON\ Lv2\ Gothic\ Bold.woff") format("truetype");
    font-family: "NEXON-Bold";
}
@font-face {
    src: url("../font/NEXON\ Lv2\ Gothic\ Light.woff") format("truetype");
    font-family: "NEXON-Light";
}
